blinker==1.9.0
certifi==2025.8.3
charset-normalizer==2.1.1
click==8.2.1
Flask==2.3.2
greenlet==3.2.4
gunicorn==23.0.0
python-dotenv
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mysql-connector-python==9.4.0
packaging==25.0
requests==2.28.1
SQLAlchemy==2.0.43
typing_extensions==4.15.0
urllib3==1.26.20
Werkzeug==3.1.3
